body {
  background-image: url(https://img.freepik.com/free-vector/nature-scene-with-river-and-hills-forest-and-mountain-landscape-flat-cartoon-style-illustration_1150-37326.jpg?w=1800&t=st=1669791980~exp=1669792580~hmac=d702564148f4ddebb657fad324c19f519176fa9d974e855fb0a7411cb5d3173c);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  margin-top: 1%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "logo greet greet greet"
    "logo email tel soc";
  background-color: rgba(250, 215, 235, 0.2);
  border-radius: 5%;
  filter: drop-shadow(2px 2px 3px gray);
}

.logo {
  grid-area: logo;
  margin: auto;
  margin-left: 10%;
}

.header-text {
  grid-area: greet;
  margin: auto;
  margin-left: 10%;
}

.email {
  grid-area: email;
  margin: auto;
  margin-left: -15%;
}

.phone {
  grid-area: tel;
  margin: auto;
  margin-left: -5%;
}

.social-networks {
  grid-area: soc;
  margin: auto;
  margin-left: 25%;
  text-align: center;
}

.logo img {
  border-radius: 50%;
  border: 1px solid gray;
}

.social-networks p {
  margin-bottom: 5%;
}

.header-text h1 {
  font-family: "Merriweather", serif;
  position: relative;
  color: rgb(7, 7, 101);
  text-shadow: 3px 3px 2px rgba(0, 128, 0, 0.6),
    1px 1px 1px rgba(245, 245, 245, 0.6);
  font-size: 50px;
  font-weight: normal;
  padding: 8px 20px 7px 20px;
  border-top: 4px solid black;
  border-left: 4px solid black;
  display: inline-block;
  line-height: 1;
}
.header-text h1:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  top: -28px;
  left: -28px;
  border: 4px solid black;
  box-sizing: border-box;
}

header p {
  font-family: "Courier New", Courier, monospace;
  color: navy;
  text-shadow: 1px 1px 10px gold;
}
.icons {
  display: flex;
  justify-content: space-around;
}

.bio {
  background-image: linear-gradient(
    rgba(250, 215, 235, 0.2) 10%,
    rgba(250, 215, 235, 0.4) 40%,
    rgba(250, 215, 235, 0.6) 60%
  );
  border-radius: 20% 20% 0 0;
  padding-bottom: 1%;
}

.bio h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  text-shadow: 2px 2px 5px snow;
}

.bio p {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  margin-left: 1%;
  font-style: italic;
  font-size: 16px;
  text-shadow: 1px 1px 0 silver;
}

.hobbies-skills-achives {
  background-image: linear-gradient(
    rgba(250, 215, 235, 0.2) 10%,
    rgba(250, 215, 235, 0.4) 40%,
    rgba(250, 215, 235, 0.6) 60%
  );
  padding-bottom: 1%;
}

.hobbies-skills-achives h2 {
  text-align: center;
  margin-bottom: 1%;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  text-shadow: 2px 2px 5px snow;
}

.flex-skills {
  display: flex;
  justify-content: space-between;
  margin-right: 2%;
  margin-left: 2%;
}

.flex-skills h3 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 1px 1px 0 rgba(255, 0, 0, 0.5);
  font-size: 24px;
}

.flex-skills div {
  width: 26em;
  background-color: rgba(255, 250, 250, 0.4);
  border-radius: 20%;
  padding: 0.5%;
}

.flex-skills div li {
  padding-left: 2%;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 1px 10px rgba(137, 43, 226, 0.5);
}

.flex-skills div:first-of-type li:first-of-type {
  list-style-type: "\1F9D7";
}

.flex-skills div:first-of-type li:nth-of-type(2) {
  list-style-type: "\1F6B5";
}

.flex-skills div:first-of-type li:nth-of-type(3) {
  list-style-type: "\1F918";
}

.flex-skills div:first-of-type li:nth-of-type(4) {
  list-style-type: "\1F3C3";
}

.flex-skills div:first-of-type li:last-of-type {
  list-style-type: "\1F3AE";
}

.flex-skills div:nth-of-type(2) li:first-of-type {
  list-style-type: "\1F527";
}

.flex-skills div:nth-of-type(2) li:nth-of-type(2) {
  list-style-type: "\25B6";
}

.flex-skills div:nth-of-type(2) li:last-of-type {
  list-style-type: "\1F4D6";
}

.flex-skills div:last-of-type li:first-of-type {
  list-style-type: "\26A1";
}

.flex-skills div:last-of-type li:nth-of-type(2) {
  list-style-type: "\1F3C5";
}

.flex-skills div:last-of-type li:nth-of-type(3) {
  list-style-type: "\1F54A";
}

.flex-skills div:last-of-type li:last-of-type {
  list-style-type: "\1F680";
}

.photo-galery {
  background-image: linear-gradient(
    rgba(250, 215, 235, 0.2) 10%,
    rgba(250, 215, 235, 0.4) 40%,
    rgba(250, 215, 235, 0.6) 60%
  );
  border-radius: 0 0 15% 15%;
  padding-bottom: 1%;
}

.photo-galery h2 {
  text-align: center;
  margin-bottom: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  text-shadow: 2px 2px 5px snow;
}

.flex-photo {
  display: flex;
  justify-content: space-around;
}

.photo {
  text-align: center;
}

.photo figcaption {
  text-shadow: 2px 2px 2px whitesmoke;
  background-color: rgba(240, 248, 255, 0.5);
  visibility: hidden;
}

.photo img {
  border-radius: 10%;
  border: 1px solid whitesmoke;
  box-shadow: 0 0 5px 1px gold;
}

footer {
  background-color: rgba(250, 215, 235, 0.4);
  margin-right: -2%;
  margin-left: -2%;
  margin-bottom: -16px;
  text-align: center;
}

.bio:hover,
.hobbies-skills-achives:hover,
.photo-galery:hover {
  background-color: rgba(242, 250, 215, 0.5);
  transition: 0.5s;
}

.photo img:hover {
  box-shadow: 0 0 5px 5px gold;
  transition: 0.5s;
}

.photo img:hover + figcaption {
  visibility: inherit;
  transition: 0.5s;
}
